@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header .logo{
    font-weight: 600;
    font-size: 20px;
}

.presentation {
    margin: 50px 0;
    background: url('./img/background.png') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-color: aquamarine;
    position:relative;
}

header ul.nav{
    float: right;
    list-style: none;
}

header ul.nav li{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav hover{
    opacity: 0.5;
}

header .presentation::after {
    content: 'Тестирование';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-weight: 600;
    font-size: 40px;
    color: rgb(38, 238, 115);
}

header .presentation::before {
    content: 'Онлайн сервис для прохождения онлайн тестов';
    position: absolute;
    top: 150px;
    left: 50px;
    width: 300px;
    font-weight: 300;
    font-size: 15px;
    color: rgb(38, 238, 115);
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item{
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    background: url('./img/bg_dark.png');
}

main .item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
}

main .item img:hover{
    transform: scale(1.05);
}

main h2, main p, main b{
    margin: 10px 20px;
    color: rgb(160, 235, 248);
}

footer{
    text-align: center;
    margin-top: 100px;
}

/* Ниже CSS для теста */

.quiz {
    width: 975px;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .question {
    background-color: #0094da;
    color: white;
    padding: 10px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  
  .results {
    background-color: #fff;
    height: 300px;
    text-align: center;
  }
  
  .congratulations {
    background-color: #0094da;
    padding: 20px;
    font-size: 36px;
    color: #fff;
  }
  
  .results-info {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  
  .answer {
    width: 48%;
    background: #fff;
    border: 2px solid #0094da;
    min-height: 70px;
    cursor: pointer;
    margin-bottom: 30px;
    display: flex;
  }
  
  .answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .answer-letter {
    font-size: 30px;
    background-color: #0084da;
    color: #fff;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .answer-text {
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .correct-answer {
    border: 2px solid #1ea55b;
  }
  
  .correct-answer .answer-letter {
    background: #1ea55b;
  }
  
  .wrong-answer {
    border: 2px solid #dc0a0a;
  }
  
  .wrong-answer .answer-letter {
    background: #dc0a0a;
  }
  
  .next-button {
    margin: 0 auto;
    color: #fff;
    background: #0b0e21;
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 75px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
  }
  
  .score {
    background: #fff;
    color: 000;
    font-size: 18px;
    width: 200px;
    margin: 0 auto;
    font-weight: 600;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .disabled-answer {
    pointer-events: none;
  }
  